#intro {
    display: flex;
    align-items: center;
    gap: 50px;
    width: 80%;
    margin-top: 25px;
    padding: 30px;

background: rgba( 71, 71, 71, 0.25 );
box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.1);
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.section-title {
    background: rgba( 71, 71, 71, 0.25 );
box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.1);
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px 10px 0 0;
width: max-content;
padding: 10px 25px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.intro-img img {
    width: 100px;
    transform: rotateY(180deg);
    filter: grayscale(1);
}
#roadmap-container {
    display: flex;
    width: 80%;
    padding: 30px;
    gap: 50px;
    flex-direction: column;
    background: rgba( 71, 71, 71, 0.25 );
box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.1);
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 0px 10px 10px 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.roadmap-card {
    display: flex;
    position: relative;
    gap: 15px;
    align-items: center;

}

.roadmap-card:hover .roadmap-line {
    background: white;
}

.roadmap-line {
    position: absolute;
    width: 10px;
    height: 100%;
    background: grey;
    left: 0;
    top: 0;
}

.roadmap-main {
    display: flex;
    gap: 5px;
    flex-direction: column;
}
.roadmap-image {
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
}

.roadmap-image img {
    height: 100%;
    
}

.roadmap-header {
    display: flex;
    align-items: center;
    
    justify-content: space-between;
}

.roadmap-header h2{
    width: 60%;

}

.roadmap-position{

}

#skill-main-container {
    display: flex;
    gap: 15px;
    padding: 30px;
    flex-direction: column;
    width: 80%;
    background: rgba( 71, 71, 71, 0.25 );
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.1);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 0 10px 10px 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18);
}



.skill-container {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}
.skill-card {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.skill-wrapper {
    display: flex;
    gap: 15px;

}

.skill-wrapper p {

    border-radius: 5px;
}



.skill-icon {
    width: 45px;
    aspect-ratio: 1/1;
    filter: grayscale(1);
    transition: 0.2s;
}

.skill-icon:hover {
    filter: grayscale(0);
}




@media only screen and (max-width: 767px) {
   #intro {
    display: flex;
    flex-direction: column;
   }

   #intro h1 {
    text-align: left;
   }

   .skill-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: start;
    justify-content: start;
   }

   .roadmap-container {
    display: flex;
    flex-direction: column;
   }

   .roadmap-card {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
   }

   .roadmap-main {
    display: flex;
    flex-direction: column;
    gap: 15px;
   }

   .roadmap-header {
    flex-direction: column;
    align-items: start;
   }

   .roadmap-image {
    width: 100px !important;
   }

   .roadmap-image img {
    width: 100%;
   }
}